# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/Pods/
ios/.symlinks/
android/.gradle/
*.iml
.DS_Store

.idea/
android/key.properties
android/*.jks
android/*.keystore
*.jks
*.keystore
